@font-face {
  font-family: "Devant Horgen";
  src: url("fonts/devant-horgen/DevantHorgen-Medium.eot");
  src: url("fonts/devant-horgen/DevantHorgen-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/devant-horgen/DevantHorgen-Medium.woff2") format("woff2"),
    url("fonts/devant-horgen/DevantHorgen-Medium.woff") format("woff"),
    url("fonts/devant-horgen/DevantHorgen-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 100%;
}
.heading {
  font-family: "Devant Horgen", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
h1.heading {
  font-size: 149px;
  font-size: 9.3125rem;
  line-height: 0.7852348993;
}
h2.heading {
  font-size: 87px;
  font-size: 5.4375rem;
  line-height: 0.7816091954;
  margin-bottom: 20px;
}
.heading span {
  color: #f7af21;
}
#hero-banner {
  background-image: url(https://irispdm.com/app/uploads/2023/05/hero-bg.webp);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
#hero-banner .row {
  align-items: center;
}
.hero-banner-box {
  background-image: url(https://irispdm.com/app/uploads/2023/05/hero-box-bg.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 10% 5%;
  max-width: 480px;
}
#hero-banner .container {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1600px;
}
.btn {
  font-family: "Devant Horgen", sans-serif;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin: auto;
  background-color: white;
  border-radius: 0px;
  display: block;
  width: fit-content;
  padding: 10px 25px;
  margin-top: 40px;
}
.img-bg-with-left-txt .col:first-child {
  background-image: url(https://irispdm.com/app/uploads/2023/05/inspection-txt-bg.webp);
  background-position: center;
  background-size: cover;
}
.img-bg-with-left-txt .col:last-child {
  background-image: url(https://irispdm.com/app/uploads/2023/05/inspection-bg.webp);
  background-position: center;
  background-size: cover;
}
.txt-block {
  display: block;
  max-width: 440px;
  margin: auto;
  padding: 10% 20px;
}
.img-bg-with-right-txt .col:first-child {
  background-image: url(https://irispdm.com/app/uploads/2023/05/serve-sector-bg.webp);
  background-position: center;
  background-size: cover;
}
.img-bg-with-right-txt .col:last-child {
  background-image: url(https://irispdm.com/app/uploads/2023/05/serve-sector-txt-bg.webp);
  background-position: center;
  background-size: cover;
}
section.project-logo-list {
  background-color: #fffaef;
  padding: 5% 20px;
}
.logo-list {
  max-width: 1600px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}
.logo-list img.logo {
  width: calc(25% - 40px);
  max-width: 320px;
  margin: 20px;
}
.btn-see-more-projects {
  background-color: #f7af21;
  font-stretch: ultra-expanded;
  font-weight: 800;
}
.text-highlight {
  color: #f7af21;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
}
.bottom-banner {
  background-image: url(https://irispdm.com/app/uploads/2023/05/bottom-banner-bg.webp);
  background-position: center;
  background-size: cover;
  padding: 5% 20px;
}
.service-title-list {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2%;
  border-radius: 10px;
  max-width: 760px;
  margin: auto;
  column-count: 5;
}
.service-title {
  font-family: "Devant Horgen", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .hero-banner-box {
    max-width: unset;
    margin: 0px -15px !important;
  }
  .img-block {
    height: 70vw;
  }
  .img-bg-with-left-txt .row {
    flex-direction: column-reverse;
  }
  .logo-list img.logo {
    width: calc(100% - 40px);
  }
  .service-title-list {
    column-count: 2;
    text-align: center;
  }
}
